# Serveur
PORT=3001
NODE_ENV=development
CORS_ORIGINS=http://localhost:3000,http://localhost:8081

# Supabase (service_role — NE JAMAIS exposer côté client)
SUPABASE_URL=https://ikdgbeybqvbpvedxirhd.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlrZGdiZXlicXZicHZlZHhpcmhkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjAxNTM1OSwiZXhwIjoyMDkxNTkxMzU5fQ.adnfA_yX_H99HhC50kh8V8DNhAX9Db0H1Dw2dusyW20

# JWT
JWT_SECRET=df2gqOMYt2SNwbXr3qyXIOaufHGD0UfqPDBn/4iR6qo=
JWT_REFRESH_SECRET=uS/v+ou+Btn734MsSfUCIJ1o54PPxICx3HJF6RYTvyE=

# AfricasTalking (SMS / OTP)
AT_API_KEY=atsk_035b708e7851d8d6f4cf98d827cdf705286adb25cba7ec1199eebc9f6d819a620770b60b
AT_USERNAME=DashMeal
AT_SENDER_ID=DashMeal

# Campay (Mobile Money CEMAC)
CAMPAY_APP_USERNAME=7Umtj5Dmp6qDsu5V7FXmHjztAOHCutjrW-7-3wAgM9JVjzRB__TT2l5dw0ygDWm2mcJzJPjrPgTO2Lsl8eTxng
CAMPAY_APP_PASSWORD=im4iCuJkyPsuNjIrBGUuKbys4YNHcs_Jkn_aFzw8Hmu1p2e1E82lhPpYYqskWYjnB1Zp2pTDOCJy7qTv9WQB-Q
CAMPAY_BASE_URL=https://demo.campay.net/sdk/js?app-id=zFvbrWSXwCsy-d8b4Ez_Crls2FG7XCyyeE0Q7LwmoRIVhDS5Hjn0IjYn8MLOJzLojcAT-NtHR3Cvj7LpD9uRUg
CAMPAY_CALLBACK_URL=https://your-api.railway.app/api/v1/payments/webhook/campay

# Google Maps
GOOGLE_MAPS_API_KEY=AIzaSyDu8uHX0g6xt326t7nBlfDz9GmXRqRyNCI

# Expo (Push notifications)
EXPO_ACCESS_TOKEN=Es78WwJujygDpjlFxaa1cxxKg6VdHghpAxDTDryU

# Supabase Storage (bucket names)
STORAGE_BUCKET_PRODUCTS=product-images
STORAGE_BUCKET_DOCUMENTS=brand-documents
STORAGE_BUCKET_INVOICES=invoices
